{% extends 'base.html' %}
{% block content %}

{% for event in object_list %}
    <div class="jumbotron">
        <h2 class="display-4">
            <a href="{% url 'event-detail' event.id %}"><b>{{event.event_name}}</b></a>
        </h2>
      <div class="row col-11">
            <div class="col-3" >
                <img src="{{MEDIA_URL}}{{event.event_image}}" width="150" height="150" align="bottom"/>
            </div>
            <div class="col-9">
                {{event.event_description}}
            </div>

      </div>
      <form action="{% url 'event-delete' event.id %}" method="post" style="display: inline;" >{% csrf_token %}
<!--            <input type="hiden" name="event_id" value="{{event.id}}"/>-->
            <div align="right">
                <button type="submit" class="save btn btn-success">Delete event</button>
            </div>
                <span class="glyphicon glyphicon-trash"></span>
            </button>

      </form>

    </div>
{% endfor %}
{% endblock %}